a
  color: #00B7FF

.element-center
    text-align: center !important;

.element-left
    text-align: left !important;

.element-right
    text-align: right !important;

.rectangle-tiny
	display:inline-block; width: 10px; height: 10px; text-align: center;

.color-pri
  background-color: #F6111B;

.color-pan 
  background-color: #00468E;

.color-prd 
  background-color: #FFD90A;

.vertical-center
	vertical-align: middle !important; 